<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.morishin.Eijiro</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>9BA4E675-C5F1-4268-8506-ED6233ACBF65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>760CAB46-0425-4013-B0AC-DF2EAD50839E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>morishin</string>
	<key>description</key>
	<string>EN-JA dictionary 'Eijiro' search bar for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eijiro Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://eow.alc.co.jp/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>760CAB46-0425-4013-B0AC-DF2EAD50839E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>e</string>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>php -f eijiro.php -- "{query}"</string>
				<key>title</key>
				<string>Search 英辞郎 for '{query}'</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9BA4E675-C5F1-4268-8506-ED6233ACBF65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>760CAB46-0425-4013-B0AC-DF2EAD50839E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9BA4E675-C5F1-4268-8506-ED6233ACBF65</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/morishin</string>
</dict>
</plist>
